[type="submit"]{
	display: inline-block; 
	width: 100px;
	padding: 5px;
	background-color: #c60101;
	color: aliceblue;
	 
}

form{
	width: 320px;
	border: 1px solid #ccc;
	padding: 20px;
	background-color: #888888;
}

input[type="text"]{
	display: inline-block;
	width: 200px;
	padding: 5px;
 
}
label{
	display: block; 
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
}