* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dfdfdf;
    }

.container {
        
}
.header {
    margin: 20px 0 0;
    height: 250px;
    background: url(../images/glitter_green.jpg) repeat-x;
    border-radius: 20px 20px 0 0;
    border: 3px solid #fff;
    border-bottom:none;
    color: #fff;
    text-transform:uppercase;
    text-shadow: 1px 1px 5px rgba(33, 3, 0, 0.76)
}

.footer {
    background: url(../images/glitter_green.jpg) repeat-x bottom center;
    margin: 0 0 20px;
    height:80px;
    border-radius: 0 0 20px 20px;
    border: 3px solid #fff;
    text-align:center;
    font-size: 1.2em;
    }
.footer p {
    margin: 25px;
    color:azure;
}
h1, h3 {
    margin:0;
    padding:0;
}
.header h1 {
    margin-top: 80px;
    font-size:3em
}

.content {
    padding: 15px 0;
    background-color: #fff;
}
article {
    border:  rgba(202, 255, 169, 0.76) 1px solid;
    margin: 15px 0;
    width:49%;
    float:left;
    margin-right:15px
}
article:nth-child(even){
    margin-right:0
}

article h1, article .more {
    background-color: rgba(202, 255, 169, 0.76);
    padding: 7px 15px
}

article .photo {
    height: 200px;
    overflow: hidden;
    }

.photo img {
    width: 100%;
    }

.text {
    padding: 15px;
    
}

.more {
    text-align: right
}

.menu {
    list-style-type:none;
    margin:15px 0;
    padding:0;
    
}

.menu li {
    background-color: rgba(202, 255, 169, 0.76);
}

.menu li:hover {
    background-color: rgba(150, 209, 113, 0.76);
}
.menu li a {
    display:block;
    padding: 7px 15px;
    color:#257e04;
    border-bottom: 2px solid #fff;
}
.separator{
	display: table;
	clear: both;
}
tbody tr:hover{
	background-color: #4b4b4b;
	transition: all .5s linear;
	color: #fff;
	font-size: 1.1em;
	font-weight: 700;
	font-style: italic;
	box-sizing: border-box;
	height: 100%;
}
 
.table_adm{
	border:1px solid #000; 
	text-align: center;
	margin-bottom: 50px;
	box-sizing: border-box;
	 
}
.table_adm td{
	border:1px solid #000;
	padding:10px; 
}
.table_adm thead{
	background-color: #9cbaf2;	 
	font-weight: 800;
	font-size: 1.2em;
}

.sort{
	list-style: none;
	text-align: center;
	margin: 15px 0;
}
.sort a{
	display: block;
	padding: 5px;
	color: #fff;
	font-size: 1.3em;
}

.sort li{
	display:inline-block; 
	border-radius: 5px;
	background-color: #808df4;
	margin: 5px 10px;
	padding: 10px;
	color: #fff;
	padding: 10px; 
}